#compress files for web optimization
<IfModule mod_deflate.c>  
<FilesMatch "\.(js|css|html|php)$">  
SetOutputFilter DEFLATE  
</FilesMatch>  
</IfModule>
#set expires headers
#use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8
#force UTF-8 for a number of file formats
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml .php
#process certain files as php
<files feed.xml>
ForceType application/x-httpd-php
</files>
<files sitemap.xml>
ForceType application/x-httpd-php
</files>
#force download for .mp4 files
<Files *.mp4>
  ForceType application/octet-stream
  #Header set Content-Disposition attachment
</Files>
#make sure mod_rewrite is enabled for all rules below
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{ENV:REDIRECT_STATUS} 200
#remove need to have .php extension in filename
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [NC,QSA]
#change www.lib.montana.edu/channel/item.php?id=5 to www.lib.montana.edu/channel/item/5
RewriteBase /channel/
RewriteRule ^item/([-a-zA-Z0-9_-]+) item.php?id=$1 [NC,QSA]
